<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <title>支付渠道 | Pay Method</title>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="https://a.alipayobjects.com/g/antui/antui/10.0.0/rem/antui-all.css" media="all">
    <link rel="stylesheet" href="https://as.alipayobjects.com/g/component/swiper/3.2.7/swiper.min.css" />

    <meta name="Alipay:title" content="AntUI" />
    <meta name="Alipay:imgUrl" content="https://t.alipayobjects.com/images/rmsweb/T1mQxhXbRXXXXXXXXX.png"/>
    <meta name="Alipay:desc" content="AntUI"/>
    <meta name="fengdie:pkg" content="antui-demo@1.0.4" />
    <meta name="fengdie:aid" content="16433"/>
    <meta name="fengdie:pid" content="28948"/>
</head>

<body>

<div class="demo demo-list">
    <div class="demo-content" style="padding-bottom: 20px;">

        <div class="am-message multi">
            <i class="am-icon message info"></i>
            <div class="am-message-main">选择支付渠道</div>
            <div class="am-message-sub">{{tips}}</div>
        </div>


        <!-- @link https://render.alipay.com/p/f/antui/demo.html -->
        <div class="am-list twoline" style="padding: 2px 0;">
            <form id="trade">

                {%for key, item in gateways%}
                <a href="javascript:void(0);" class="am-list-item" onclick="gateway('{{key}}');">
                    <div class="am-list-thumb"><img src="/assets/images/logo_{{key}}_48x48.png" alt=""></div>
                    <div class="am-list-content">
                        <div class="am-list-title">{{item['title']}}</div>
                        <div class="am-list-brief">{{item['remark']}}</div>
                    </div>
                    <div class="am-list-arrow"><span class="am-icon arrow horizontal"></span></div>
                </a>
                {%endfor%}

            </form>
        </div>

    </div>
</div>

<script charset="utf-8" src="https://a.alipayobjects.com/amui/zepto/1.1.3/zepto.js"></script>
<script src="https://a.alipayobjects.com/static/fastclick/1.0.6/fastclick.min.js"></script>
<script src="https://as.alipayobjects.com/g/component/swiper/3.2.7/swiper.min.js"></script>
<script src="https://a.alipayobjects.com/g/antui/antui/10.0.0/antui.js"></script>
<script src="https://as.alipayobjects.com/g/animajs/mtracker/3.0.7/seed.js"></script>
<script type="text/javascript">
    function gateway(gateway) {
        var requestData = location.href;
        requestData += '&gateway=' + gateway
        window.location.href = requestData;
    }
</script>
</body>
</html>